.container {
  padding: 4rem 2rem;
  background-color: #f9fbfd;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 2rem;
  /* border: 1px solid black; */
}

.block {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.reverse {
  flex-direction: row-reverse;
}

.image {
  flex: 1 1 45%;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 500px;
  border-radius: 1.5rem;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
  transition: transform 0.8s ease-in;
  -webkit-transition: transform 0.8s ease-in;
  -moz-transition: transform 0.8s ease-in;
  -ms-transition: transform 0.8s ease-in;
  -o-transition: transform 0.8s ease-in;
}

.image img:hover {
  transform: scale(1.1) skew(2deg, 2deg);
  -webkit-transform: scale(1.1) skew(2deg, 2deg);
  -moz-transform: scale(1.1) skew(2deg, 2deg);
  -ms-transform: scale(1.1) skew(2deg, 2deg);
  -o-transform: scale(1.1) skew(2deg, 2deg);
}


.text {
  flex: 1 1 45%;
}

.text h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  color: #1c1e21;
}

.text p {
  font-size: 1.1rem;
  color: #4a4a4a;
  line-height: 1.7;
}
